<div class="columns">
    <div class="column is-12">
        <app-polkascan-header></app-polkascan-header>
        <section class="is-12" id="search">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <form (ngSubmit)="search()">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-large" type="text" [(ngModel)]="blockSearchText" [ngModelOptions]="{standalone: true}" [placeholder]="'PlaceHolderSearch' | translate">
                            <span class="icon is-medium is-left">
                              <i class="fa fa-search"></i>
                            </span>
                            <span class="icon is-medium is-right">
                              <i class="fa fa-check"></i>
                            </span>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="custome_table">
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        <a [routerLink]="" fragment="list" class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <img src="../../../assets/icons/Runtime_black.svg" alt="">
                          </span>
                        </a>
                        {{ 'runtime-list.Runtimes' | translate }}
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <app-loading-box *ngIf="!runtimes || runtimes.is_loading"></app-loading-box>
                        <table class="table is-fullwidth is-striped" *ngIf="runtimes && runtimes.data.length > 0">
                             <thead>
                              <tr>
                                <th></th>
                                <th>{{ 'runtime-list.Spec ID' | translate }}</th>
                                <th>{{ 'runtime-list.Name' | translate }}</th>
                                <th>{{ 'runtime-list.Spec version' | translate }}</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let runtime of runtimes.data; trackBy: runtimes.trackBy">
                                    <td width="5%"><i class="fa fa-cogs"></i></td>
                                    <td width="10%"><a routerLink="{{ networkURLPrefix }}/runtime/{{ runtime.attributes.id}}">{{ runtime.attributes.id}}</a></td>
                                    <td>{{ runtime.attributes.impl_name }}</td>
                                    <td>{{ runtime.attributes.spec_version }}</td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/runtime/{{ runtime.attributes.id }}">{{ 'runtime-list.Details' | translate }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
